.gradle/
/build
/app/build
/*/build
*.iml

local.properties

.idea/*
!.idea/gradle.xml
!.idea/libraries
*.iws
*.ipr
.navigation/
captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore

*.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

keystore.properties

app/google-services.json